<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider"><strong>Current Build Name</strong></div>
      <div class="item item-body">
        <div>
          {{buildConfig.name}}
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider"><strong>Current Build Configuration</strong></div>
      <div class="item item-body">
        <div>
          {{buildConfig}}
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
